<h3>
    Previously Played Games
</h3>
<p>
    Following are the games currently stored in our db.
</p>
<button (click)="gamesService.loadGames()" mat-raised-button color="primary">
    Reload data
</button>
<br>
<br>
<ul style="list-style-type: none;padding: 0;margin: 0;">
    <li *ngFor="let game of gamesService.games">
        <mat-card class="">
            <mat-card-header>
                <mat-card-title>ID: {{game.id}} - World Dimensions ({{game.game.worldX}},{{game.game.worldY}})</mat-card-title>
                <mat-card-subtitle>{{game.game.history[0].living.size()}} cells were alive at the beginning:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <pre>{{game.game.binaryInitialState()}}</pre>
            </mat-card-content>
        <mat-card-actions>
            <button (click)="select(game.id, game.game)" mat-button>Play <mat-icon class="material-icons">play_arrow</mat-icon></button>
        </mat-card-actions>
        </mat-card>
    </li>
    <br>
    <br>
</ul>
